<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login-registro.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

    <!-- Estilos nav -->
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <!--  Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <title>Entrar</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <section id="principal">
        <div id="right-registro-login">
        </div>
        <div id="left">
            <div class="animate__fadeInRight" id="formulario">
                <div id="caja">
                    <h1>Inicio de sesión</h1>
                    <p>¿Eres un nuevo usuario? <a href="/registro">Crea una cuenta</a></p>
                    <input type="email" placeholder="Dirección de correo electrónico" id="email">
                    <input type="password" placeholder="Contraseña" id="password">

                    <p id="text_fill"></p>

                    <button id="button">Continuar</button>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascripts/validar.js"></script>
</body>
</html> 