<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

    <title>Entrar</title>
</head>
<body>
    <section id="principal">
        <div id="right">
            <h1>Inicia sesión o crea una cuenta</h1>
        </div>
        <div id="left">
            <div id="formulario">
                <div id="caja">
                    <h1>Inicio de sesión</h1>
                    <p>¿Eres un nuevo usuario? <a href="/signup">Crea una cuenta</a></p>
                    <input type="email" placeholder="Dirección de correo electrónico" name="" id="">
                    <button>Continuar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html> 