<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Google Fonts Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

    <!-- Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <title>Entrar</title>
</head>
<body>
    <section id="principal">
        <div id="right">
            <h1>Inicia sesión o crea una cuenta</h1>
        </div>
        <div id="left">
            <div class="animate__fadeInRight" id="formulario">
                <div id="caja">
                    <h1>Crear una cuenta</h1>
                    <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
                    <input type="text" placeholder="Nombre" name="" id="">
                    <input type="email" placeholder="Dirección de correo electrónico" name="" id="">
                    <input type="password" placeholder="Contraseña" name="" id="">
                    <button>Continuar</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>