<nav>
    <div id="left">
        <div id="logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
            
        </div>
    </div>
    <div id="right">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars" style="color: #000000;"></i></label>
        <ul>
            <li><a class="boton" href="/icons">Iconos</a></li>
            <li><a class="boton" href="/teoria">Teoria</a></li>
        </ul>

    <% if (user) { %>
        <div id="user">
            <a href="/usuario"><h4><%= user.name %></h4></a>
            <a href="/logout" id="logout"><img src="/images/logout.png" alt=""></a>

        </div>
        
    <% } else { %>
        <a id="acceder" href="/acceder">Acceder</a>
        
    <% } %>
         
    </div>
</nav>