*
    margin: 0
    padding: 0
    box-sizing: border-box
    // border: 1px solid
    font-family: 'Montserrat', sans-serif

@mixin flex
    display: flex
    align-items: center
    justify-content: center

#principal
    height: 100vh

    #bloque1
        height: 90vh
        overflow: hidden
        #texto

            
            h1,span
                font-family: 'Krona One', sans-serif
                font-size: 84px
    #rectangulos
        padding-top: 2rem
        height: 50vh
        background: #fffff
        @include flex
        justify-content: space-evenly
        div
            padding: 2%
            height: 100%
            width: 23%
            @include flex
            align-items: start
            justify-content: start
            p
                font-family: 'Krona One', sans-serif
                letter-spacing: 2px
                font-size: 22px










        