*
    margin: 0
    padding: 0
    box-sizing: border-box
    // border: 1px solid
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    // font-family: 'Pacifico', cursive

@mixin flex
    display: flex
    align-items: center
    justify-content: center

#menu
    height: 8%
    padding: 0 2rem
    @include flex
    justify-content: end

    #colores
      height: 100%
      width: 22%
      @include flex
      justify-content: space-between
      .caja
        position: relative
        width: 25%
        height: 100%
        @include flex
        flex-direction: column
        .circle
          height: 38px
          width: 41px
          border-radius: 50%
          cursor: pointer
        .info
          background: #ffffff
          z-index: 2
          position: absolute
          bottom: -80%
          height: 95%
          display: none
          text-align: center
          width: 100%
          button
              background: #ffffff
              width: 100%
              height: 50%
              cursor: pointer
              font-size: 12px
              border: none
              &:hover
                  background: #000
                  color: #ffffff
          input
              height: 50%
              outline: none
              border: none
              width: 90%
              text-align: center

    #botones

      padding-left: 3%
      height: 100%
      width: 20%
      @include flex
      justify-content: end
    a
      padding-right: 50%
      i
        color: #ff0000
        font-size: 34px     

        
    #boton
        background: #000
        color: white
        padding: .6rem 1.2rem
        border: none
        cursor: pointer
        &:hover
            background: #125fbd

@media only screen and (max-width: 767px) 
  #menu
    padding: 0 4% !important 
    #colores
      width: 50% !important
      .caja
        .circle
          height: 28px
          width: 31px 
    #botones
      width: 50% !important
    a
      padding-right: 13%

@media (min-width: 768px) and (max-width: 1023px)
  #colores
    
    width: 40% !important

  #botones
    width: 30% !important
    a
      padding-right: 10% !important
      font-size: 24px

  
