*
    margin: 0
    padding: 0
    box-sizing: border-box
    // border: 1px solid
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    list-style: none
    // font-family: 'Pacifico', cursive

@mixin flex
    display: flex
    align-items: center
    justify-content: center

nav
    border-bottom: 2px solid #c4c4c4
    height: 10vh
    display: flex
    padding: 0 2rem

    #left
        @include flex
        justify-content: start
        width: 58%
    #right
        @include flex
        width: 42%
        justify-content: space-between
        .boton
            color: black
            padding: .3rem .6rem
            font-size: 18px
            &:hover
                background: #f5f5f5
                transition: .5s
        #user
            @include flex
            width: 40%
            justify-content: space-between

            #logout
                @include flex
                img
                    width: 70%
                    height: 70%
        #acceder
            background: #125fbd
            color: white
            padding: .6rem 1.2rem
            border: none
            cursor: pointer
            &:hover
                background: #000
nav
    ul
        width: 40%
        @include flex
        justify-content: space-between
        li
            display: inline-block
            line-height: 80px
            margin: 0 5px
            a
                font-size: 20px
                padding: 7px 13px

.checkbtn
    font-size: 30px
    color: white
    float: right
    line-height: 80px
    cursor: pointer
    display: none

#check
    display: none

@media only screen and (max-width: 768px)
    nav
        height: 12vh
    #left,
    #right 
        width: 50%
        text-align: center
    
    #right
        @include flex
        flex-direction: row-reverse

        #user
            width: 40%
            @include flex
            flex-direction: row !important
            justify-content: space-between !important
            align-items: end !important
            


    
    .boton 
        margin-top: 1rem
    
    #acceder 
        margin-top: 1rem
    
    #user,
    #acceder 
        flex-direction: column
    
    #logout 
        margin-top: 0.5rem
    
    #acceder 
        display: none

    .checkbtn
        display: block
    
    ul
        z-index: 1
        position: fixed
        width: 100%
        height: 100vh
        background: #ffffff
        top: 80px
        left: -100%
        text-align: center
        transition: .5s
    
    nav ul li
        display: block
        margin: 50px 0
        line-height: 90px
    
    nav ul li a
        font-size: 20px
    
    #check:checked ~ ul
        left: 0%
        opacity: .8