*
    margin: 0
    padding: 0
    box-sizing: border-box
    // border: 1px solid
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    list-style: none
    // font-family: 'Pacifico', cursive

@mixin flex
    display: flex
    align-items: center
    justify-content: center

nav
    border-bottom: 2px solid #c4c4c4
    height: 10vh
    display: flex
    padding: 0 2rem

    #left
        @include flex
        justify-content: start
        width: 58%
    #right
        @include flex
        justify-content: space-between
        width: 42%
        .boton
            color: black
            font-size: 18px
            transition: .5s
            
            &:hover
                background: black
                color: white
        #user
            @include flex
            width: 40%
            justify-content: space-between
            #nombre
                font-size: 18px
                &:hover
                    border-bottom: 2px solid green
                h4
                    text-align: left
                    color: black
                    font-weight: 400
            #logout
                padding: .6rem 1.2rem
                i
                    font-size: 20px
                    color: black
                    &:hover
                        color: red
                        transition: 0.5s
                h4
                    display: none
                    

            #logout
                @include flex
                img
                    width: 70%
                    height: 70%
        #acceder
            background: #125fbd
            color: white
            padding: .6rem 1.2rem
            border: none
            cursor: pointer
            &:hover
                background: #000
nav
    ul
        width: 100%
        @include flex
        justify-content: space-between
        li
            line-height: 80px
            margin: 0 5px
            a
                font-size: 20px
                padding: 7px 13px

.checkbtn
    font-size: 30px
    color: white
    float: left
    cursor: pointer
    display: none

#check
    display: none

@media only screen and (max-width: 768px)
    nav

        height: 12vh
        padding: 0 4% !important

        #left
            width: 50% !important

    #right
        width: 50% !important
        @include flex
        flex-direction: row-reverse

        #user
            width: 40%
            @include flex
            flex-direction: row !important
            justify-content: space-between !important
            
            h4
                color: black

            #logout
                font-weight: 200
                font-size: 26px
                color: black

    .boton 
        margin-top: 1rem
    
    #acceder 
        margin-top: 1rem
    
    #user,
    #acceder 
        flex-direction: column
    
    #logout 
        margin-top: 0.5rem
    

    .checkbtn
        display: block
    
    ul
        left: 0
        z-index: 1
        position: fixed
        width: 100% !important
        height: 100vh
        background: white
        top: -100%
        text-align: center
        transition: .5s
        flex-direction: column !important
    
    nav ul li a
        font-size: 20px
    
    #check:checked ~ ul
        left:0
        padding-top: 10%
        top: 10vh
        @include flex 
        flex-direction: column-reverse !important
        justify-content: start !important
        li
            margin: 5% 0
            a
                border-bottom: 1px solid
        #acceder
            background: white
            color: black
            border-bottom: 1px solid

        #user
            width: 60%
            flex-direction: column !important

            #nombre
                border-bottom: 1px solid green

            a
                margin-top: 10%

            #logout
                h4
                    display: flex !important
                    font-size: 20px
                    font-weight: 400
                    border-bottom: 1px solid red
                    padding: 7px 13px 
                i
                    display: none
@media (min-width: 768px) and (max-width: 1023px)
    #left
        width: 30%    
    #right
        width: 70% !important
