* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

nav {
  border-bottom: 2px solid #c4c4c4;
  height: 10vh;
  display: flex;
  padding: 0 2rem;
}
nav #left {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  width: 58%;
}
nav #right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 42%;
}
nav #right .boton {
  color: black;
  font-size: 18px;
  transition: 0.5s;
}
nav #right .boton:hover {
  background: black;
  color: white;
}
nav #right #user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  justify-content: space-between;
}
nav #right #user #nombre {
  font-size: 18px;
}
nav #right #user #nombre:hover {
  border-bottom: 2px solid green;
}
nav #right #user #nombre h4 {
  text-align: left;
  color: black;
  font-weight: 400;
}
nav #right #user #logout {
  padding: 0.6rem 1.2rem;
}
nav #right #user #logout i {
  font-size: 20px;
  color: black;
}
nav #right #user #logout i:hover {
  color: red;
  transition: 0.5s;
}
nav #right #user #logout h4 {
  display: none;
}
nav #right #user #logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #right #user #logout img {
  width: 70%;
  height: 70%;
}
nav #right #acceder {
  background: #125fbd;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
}
nav #right #acceder:hover {
  background: #000;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
nav ul li {
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-size: 20px;
  padding: 7px 13px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 12vh;
    padding: 0 4% !important;
  }
  nav #left {
    width: 50% !important;
  }
  #right {
    width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  #right #user {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  #right #user h4 {
    color: black;
  }
  #right #user #logout {
    font-weight: 200;
    font-size: 26px;
    color: black;
  }
  .boton {
    margin-top: 1rem;
  }
  #acceder {
    margin-top: 1rem;
  }
  #user,
  #acceder {
    flex-direction: column;
  }
  #logout {
    margin-top: 0.5rem;
  }
  .checkbtn {
    display: block;
  }
  ul {
    left: 0;
    z-index: 1;
    position: fixed;
    width: 100% !important;
    height: 100vh;
    background: white;
    top: -100%;
    text-align: center;
    transition: 0.5s;
    flex-direction: column !important;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
    padding-top: 10%;
    top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse !important;
    justify-content: start !important;
  }
  #check:checked ~ ul li {
    margin: 5% 0;
  }
  #check:checked ~ ul li a {
    border-bottom: 1px solid;
  }
  #check:checked ~ ul #acceder {
    background: white;
    color: black;
    border-bottom: 1px solid;
  }
  #check:checked ~ ul #user {
    width: 60%;
    flex-direction: column !important;
  }
  #check:checked ~ ul #user #nombre {
    border-bottom: 1px solid green;
  }
  #check:checked ~ ul #user a {
    margin-top: 10%;
  }
  #check:checked ~ ul #user #logout h4 {
    display: flex !important;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid red;
    padding: 7px 13px;
  }
  #check:checked ~ ul #user #logout i {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #left {
    width: 30%;
  }
  #right {
    width: 70% !important;
  }
}/*# sourceMappingURL=nav.css.map */