*
    margin: 0
    padding: 0
    box-sizing: border-box
    // border: 1px solid
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    // font-family: 'Pacifico', cursive

@mixin flex
    display: flex
    align-items: center
    justify-content: center

#rectangulos
    padding: 1% 0
    height: 50vh
    @include flex
    justify-content: space-evenly
    div
        padding: 2%
        height: 100%
        width: 23%
        @include flex
        align-items: start
        justify-content: start
        p
            font-family: 'Krona One', sans-serif
            letter-spacing: 2px
            font-size: 22px

@media only screen and (max-width: 768px) 
    #rectangulos div 
        width: 45%


@media only screen and (max-width: 480px)
    #rectangulos
        height: auto
        flex-wrap: wrap
        div 
            width: 90%
            margin-bottom: 10px
            padding: 5% !important

@media (min-width: 768px) and (max-width: 1023px)
    #rectangulos
        height: auto
        flex-wrap: wrap
        div 
            width: 90%
            margin-bottom: 10px
            padding: 5% !important
